$primary-color: #00171F;
$secondary-color: #FEA609;
$third-color: #edf1fd;
$fourth-color:#edf1fd;
$font-stack: 'Helvetica Neue', Arial, sans-serif;
$base-spacing: 16px;
$background-image: url('../assets/images/bg.png');