@import "../../styles/variables.scss";

* {
  margin: 0;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: fixed; // Changed from static to fixed
  // top: 0; // Ensure it sticks to the top
  // left: 0; // Ensure it sticks to the left
  // right: 0; // Ensure it sticks to the right
  // z-index: 1000;
  // padding: 0 150px;
  color: white;
  height: 70px;
  margin-left: 150px;
  margin-right: 150px;

  .nav-logo {
    img {
      height: 70px;

      width: 80px;
    }
  }
  .nav-links {
    display: flex;
    gap: $base-spacing;
    font-size: 20px;
    font-family: Teko, sans-serif;


    a {
      text-decoration: none;
      color: white;
      font-size: 1em;

      &:hover {
        color: darken(white, 20%);
      }
    }
  }

  .nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;

    .bar {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 4px 0;
      transition: 0.4s;
    }
  }

  @media (max-width: 768px) {
    margin-left: 40px;
    margin-right: 40px;
    height: auto;

    .nav-links {
      display: none;
      position: absolute;
      flex-direction: column;
      width: 50%;
      top: 60px;
      right: 0px;
      text-align: center;
      background:#021742;
      z-index: 1;
      border-radius: 15px;

      a {
        margin: auto;
        padding: 10px;
        border-bottom: 1px solid lighten($primary-color, 20%);
        :hover {
          background-color: $secondary-color;
          color: $primary-color;
        }
      }
    }

    .nav-links.open {
      display: flex;
      // flex-direction: column;
    }

    .nav-toggle {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 40px;
    }
  }
}
